html, body{
    height: 100%;
}

#cover{
    background: #222 url(../img/perritoG.jpg) center no-repeat;
    background-size: 100%;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text{
    width: 100%;
}



